Flask==2.3.2
Flask-Cors==3.0.10
torch==2.4.1
torch-geometric==2.6.1
stable-baselines3
numpy==1.24.3
sounddevice==0.5.0
flask_sqlalchemy==3.1.1
Flask-Migrate==4.0.7
Authlib==1.3.2
python-dotenv==1.0.1
pytesseract==0.3.13
Pillow==10.4.0
textract==1.6.3
deeplake==3.6.16 
openai==1.35.7
Shimmy
absl-py==2.1.0
accelerate==0.31.0
aiohttp==3.9.5
aiosignal==1.3.1
alembic==1.13.3
annotated-types==0.7.0
anyio==4.4.0
argcomplete==1.10.0
astroid==2.7.3
attrs==24.2.0
audioread==3.0.1
av==12.2.0
Babel==2.15.0
bcrypt==4.1.3
beautifulsoup4==4.8.0
bidict==0.23.1
black==24.4.2
blinker==1.8.2
blis==0.7.11
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.7
boto3==1.35.37
botocore==1.35.37
CacheControl==0.14.0
cachetools==5.5.0
catalogue==2.0.10
cffi==1.17.1
chardet==3.0.4
click==8.1.7
cloudpathlib==0.18.1
cloudpickle==3.0.0
colorama==0.4.6
coloredlogs==15.0.1
confection==0.1.5
contourpy==1.2.1
coqpit==0.0.17
coverage==7.5.4
cryptography==43.0.1
ctranslate2==4.3.1
cutlet==0.4.0
cycler==0.12.1
cymem==2.0.8
Cython==3.0.10
datasets
dateparser==1.1.8
decorator==5.1.1
diffusers==0.29.2
distro==1.9.0
dnspython==2.6.1
docopt==0.6.2
docx2txt==0.8
EbookLib==0.17.1
einops==0.8.0
encodec==0.1.1
eventlet==0.37.0
extract-msg==0.23.1
Farama-Notifications==0.0.4
faster-whisper==1.0.2
fcd==1.2.2
firebase-admin==6.5.0
Flask-Bcrypt==1.0.1
Flask-PyMongo==2.3.0
Flask-SocketIO==5.3.6
flatbuffers==24.3.25
fonttools==4.53.0
frozenlist==1.4.1
fsspec==2024.6.1
fugashi==1.3.2
g2pkk==0.1.2
gevent==24.10.1
google-api-core==2.21.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.19.0
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
greenlet==3.1.1
grpcio==1.64.1
grpcio-status==1.62.3
gruut==2.2.3
gruut-ipa==0.13.0
gruut_lang_de==2.0.0
gruut_lang_en==2.0.0
gruut_lang_es==2.0.0
gruut_lang_fr==2.0.2
guacamol==0.5.5
gymnasium
h11==0.14.0
h2==4.1.0
hangul-romanize==0.1.0
hpack==4.0.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.23.4
humanfriendly==10.0
humbug==0.3.2
Hypercorn==0.17.3
hyperframe==6.0.1
idna==3.10
IMAPClient==2.1.0
inflect==7.3.0
intel-openmp==2021.4.0
isort==5.13.2
jaconv==0.3.4
jamo==0.4.1
jieba==0.42.1
jmespath==1.0.1
joblib==1.4.2
jsonlines==1.2.0
kiwisolver==1.4.7
langcodes==3.4.0
language_data==1.2.0
lazy-object-proxy==1.10.0
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.43.0
lxml==5.3.0
lz4==4.3.3
Mako==1.3.5
marisa-trie==1.2.0
Markdown==3.6
markdown-it-py==3.0.0
matplotlib==3.9.2
mccabe==0.6.1
mdurl==0.1.2
mecab-python3==1.0.6
mojimoji==0.0.13
more-itertools==10.3.0
motor==3.1.1
msgpack==1.0.8
multidict==6.0.5
murmurhash==1.0.10
mutagen==1.47.0
mypy-extensions==1.0.0
networkx==2.8.8
ninja==1.11.1.1
nltk==3.8.1
nose2==0.15.1
num2words==0.5.13
numba==0.60.0
olefile==0.46
onnxruntime==1.18.1
opencv-python==4.10.0.84
packaging==24.1
pandas==1.5.3
pathspec==0.12.1
pdfminer.six==20181108
peft==0.11.1
platformdirs==4.3.6
pooch==1.8.2
pox==0.3.5
ppft==1.7.6.9
preshed==3.0.9
priority==2.0.0
proto-plus==1.24.0
protobuf==4.25.3
psutil==6.0.0
pyarrow==16.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.7.4
pydantic_core==2.18.4
pydub==0.25.1
Pygments==2.18.0
PyJWT==2.9.0
pylint==2.10.2
pymongo==4.8.0
pynndescent==0.5.13
pyparsing==3.1.4
pypinyin==0.51.0
pypiwin32==223
pyreadline3==3.4.1
pysbd==0.3.4
python-crfsuite==0.9.10
python-engineio==4.9.1
python-pptx==0.6.18
python-socketio==5.11.3
pyttsx3==2.90
pytz==2024.2
pywin32==307
rdkit-pypi==2022.9.5
regex==2024.5.15
responses==0.18.0
rich==13.7.1
rsa==4.9
s3transfer==0.10.3
safetensors==0.4.3
scikit-learn==1.5.0
scipy==1.14.1
shellingham==1.5.4
simple-websocket==1.0.0
smart-open==7.0.4
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.6
soxr==0.3.7
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.8.1
SQLAlchemy==2.0.35
srsly==2.4.8
SudachiDict-core==20240409
SudachiPy==0.6.8
sympy==1.12.1
tensorboard==2.17.0
tensorboard-data-server==0.7.2
thinc==8.2.5
threadpoolctl==3.5.0
tokenizers==0.20.0
toml==0.10.2
torchaudio==2.4.1
torchvision==0.19.1
tqdm==4.66.5
trainer==0.0.36
transformers==4.45.2
typeguard==4.3.0
typer==0.12.3
tzdata==2024.1
tzlocal==1.5.1
umap-learn==0.5.6
Unidecode==1.3.8
unidic-lite==1.0.8
uritemplate==4.1.1
wasabi==1.1.3
weasel==0.4.1
Werkzeug==3.0.4
wrapt==1.12.1
wsproto==1.2.0
xlrd==1.2.0
XlsxWriter==3.2.0
xxhash==3.4.1
yarl==1.9.4
zipp==3.20.2
zope.event==5.0
zope.interface==7.0.3
flask_jwt_extended
litellm

langchain 
langchain_community 
langchain_openai 
langchain_huggingface